<div class="grid-container">
  <div class="grid-row ">
    <div class="grid-col-fill" *ngIf="isFormValid()">
      <app-message [message]="VALIDATION_MESSAGE" [messageType]="MESSAGE_TYPE"></app-message>
    </div>
  </div>
  <form class="usa-form margin-x-auto" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="grid-row">

      <legend class="usa-legend">Reset password</legend>
      <span>Please enter your new password</span>

      <fieldset class="usa-fieldset width-full">
        <div class="usa-form-group "
          [class.usa-form-group--error]="isFormSubmitted && (passwordErrorType('required') || passwordErrorType('minlength') || isPasswordMismatchError())">
          <label class="usa-label" for="username">{{msgConfig.form.label.newPassword}}</label>
          <span class="usa-error-message" role="alert"
            *ngIf="isFormSubmitted && passwordErrorType('required')">{{msgConfig.form.warn.required_newPassword}}</span>
          <span class="usa-error-message" role="alert"
            *ngIf="isFormSubmitted && passwordErrorType('minlength')">{{msgConfig.form.error.eight_character}}</span>
          <span class="usa-error-message" role="alert"
            *ngIf="isPasswordMismatchError()">{{msgConfig.form.error.password_match}}</span>
          <input class="usa-input" id="password-reset"
            [class.usa-input--error]="isFormSubmitted && (passwordErrorType('required') || passwordErrorType('minlength') || isPasswordMismatchError())"
            [class.usa-input--success]="isFormSubmitted && !(passwordErrorType('required') || passwordErrorType('minlength') || isPasswordMismatchError())"
            type="password" autocapitalize="off" autocorrect="off" required aria-required="true"
            formControlName="newPassword">
        </div>
      </fieldset>

      <fieldset class="usa-fieldset width-full">
        <div class="usa-form-group "
          [class.usa-form-group--error]="isFormSubmitted && (confirmPasswordErrorType('required') || confirmPasswordErrorType('minlength') || isPasswordMismatchError())">
          <label class="usa-label" for="username">{{msgConfig.form.label.confirmPassword}}</label>
          <span class="usa-error-message" role="alert"
            *ngIf="isFormSubmitted && confirmPasswordErrorType('required')">{{msgConfig.form.warn.required_confirmPassword}}</span>
          <span class="usa-error-message" role="alert"
            *ngIf="isFormSubmitted && confirmPasswordErrorType('minlength')">{{msgConfig.form.error.eight_character}}</span>
          <span class="usa-error-message" role="alert"
            *ngIf="isPasswordMismatchError()">{{msgConfig.form.error.password_match}}</span>
          <input class="usa-input" id="confirmPassword"
            [class.usa-input--error]="isFormSubmitted && (confirmPasswordErrorType('required') || confirmPasswordErrorType('minlength') || isPasswordMismatchError())"
            [class.usa-input--success]="isFormSubmitted && !(confirmPasswordErrorType('required') || confirmPasswordErrorType('minlength') || isPasswordMismatchError())"
            type="password" autocapitalize="off" autocorrect="off" required aria-required="true"
            formControlName="confirmPassword">

          <span class="usa-form__note">
            <a href="javascript:void(0);" class="usa-show-multipassword"
              aria-controls="password-reset confirmPassword">Show
              my typing</a>
          </span>
        </div>
      </fieldset>
    </div>

    <div class="grid-row flex-column margin-top-neg-1">
      <div class="grid-col">
        <input class="usa-button  width-full" type="submit" value="Reset password">
      </div>
      <div class="grid-col"><button class="usa-button usa-button--unstyled" routerLink="/auth" type="button">Signin</button>
      </div>
    </div>

  </form>
</div>