<div class="grid-container">
  <div class="grid-row ">
    <div class="grid-col-fill" *ngIf="isFormValid()">
      <app-message [message]="VALIDATION_MESSAGE" [messageType]="MESSAGE_TYPE"></app-message>
    </div>
  </div>
  <form class="usa-form margin-x-auto" [formGroup]="forgotUsernameForm" (ngSubmit)="onSubmit()">
    <div class="grid-row">

      <legend class="usa-legend">Forgot Username</legend><br>
       
      <fieldset class="usa-fieldset width-full">
        <div class="usa-form-group " [class.usa-form-group--error]="isUsernameError()">
          <label class="usa-label" for="username">Email address</label>
          <span class="usa-error-message" id="input-error-message" role="alert"
            *ngIf="isUsernameError()">Please enter email address</span>
          <input class="usa-input" [class.usa-input--error]="isUsernameError()" type="email" email
            autocapitalize="off" autocorrect="off" required aria-required="true" formControlName="username">
        </div>
      </fieldset> 

    </div>

    <div class="grid-row flex-column">
      <div class="grid-col">
        <input class="usa-button width-full" type="submit" value="Retrieve Username">
      </div>
      <div class="grid-col"> <button type="button" class="usa-button usa-button--unstyled" routerLink="/forgot-password">Forgot
          password?</button>
      </div>
      <div class="grid-col"><button type="button" class="usa-button usa-button--unstyled"  routerLink="/auth">Signin</button>
      </div>
    </div>
  </form>
</div>