<div class="grid-container">
    <div class="grid-row display-flex flex-column flex-align-center">
        <legend class="usa-legend">Signout</legend>
        <div class="usa-alert usa-alert--success">
            <div class="usa-alert__body">
                <h3 class="usa-alert__heading">User Logged Out</h3>
                <p class="usa-alert__text">You have successfully logged out from system, 
                    <button  type="button" class="usa-button usa-button--unstyled" routerLink="/">Home Page</button></p>
            </div>
        </div>
    </div> 
</div>