<div class="grid-container ">
    <div class="grid-row display-flex flex-column flex-align-center">
        <legend class="usa-legend margin-y-205">Page Not Found Error</legend>
        <div class="usa-alert usa-alert--error">
            <div class="usa-alert__body">
                <h3 class="usa-alert__heading">We are unable to find page you requested</h3>
                <p class="usa-alert__text">Please click here to go home,
                    <a href="/" class="usa-button usa-button--unstyled">Home Page</a>
                </p>
            </div>
        </div>
    </div>
</div>