<div class="usa-section">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="usa-layout-docs__sidenav desktop:grid-col-3">
                <nav aria-label="Secondary navigation">
                    <ul class="usa-sidenav">
                        <li class="usa-sidenav__item">
                            <a routerLink="/">Home Page</a>
                        </li>
                        <li class="usa-sidenav__item">
                            <a routerLink="/dashboard"  routerLinkActive="usa-current">Dashboard</a>
                            <ul class="usa-sidenav__sublist">
                                <li class="usa-sidenav__item">
                                    <a routerLink="profile" routerLinkActive="usa-current">Profile</a>
                                </li> 
                                <li class="usa-sidenav__item">
                                    <a routerLink="settings" routerLinkActive="usa-current">Settings</a>
                                </li> 
                            </ul>
                        </li>
                        <li class="usa-sidenav__item">
                            <a >Parent link</a>
                        </li>
                    </ul>
                </nav>

            </div>

            <main class="usa-layout-docs__main desktop:grid-col-9 usa-prose usa-layout-docs" id="main-content"> 
                <router-outlet></router-outlet> 
            </main>
        </div>
    </div>
</div>